# Sensitive data
presets.csv
quicktest.py

# Virtual environment
.venv/
khthon_env

# Python
__pycache__/
*.pyc
*.pyo
cache/**

# OS
.DS_Store
Thumbs.db

# Output files
*.shp
*.dbf
*.shx
*.prj
*.cpg
*.geojson
*.zip


